h1{
    color:blue;
    font-family: cursive;
}
fieldset {
    text-align: center;
}
body {
    background-color:#ff7e40;
    width:100%;
}
input[type=text] {
padding: 6px 8px;
background-color:#ccc;
border-radius:4px;
border:1px solid #c79e85;
}
input[type=password],input[type=email], input [text=file] {
    background-color:#ccc;
    padding:6px 8px;
    border-radius:4px;
    border:1px solid #c79e85;
}
input[type=submit] {
    padding:5px 10px;
    width:80%;
    border-color:#2afb2d;
    border-radius:3px;
    background-color:#2afb2d;
    border-style: solid;
 }
input[type=number], input[type=tel], select {
    background-color:#ccc;
}
